<aside class="main-sidebar">
  <section class="sidebar">
    <div class="user-panel">
      <div class="pull-left image">
        <img src="{{vm.userData.avatar}}" class="img-circle" alt="User Image" onError="this.src='//placeholdit.imgix.net/~text?txtfont=monospace,bold&bg=DD4B39&txtclr=ffffff&txt=A&w=45&h=45&txtsize=16'">
      </div>
      <div class="pull-left info">
        <p>{{vm.userData.name | capitalize}}</p>
        <a href="javascript:void(0)"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>
    <ul class="sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>
      <li>
        <a ui-sref='app.landing'>
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
      </li>
      
      
      <li class="treeview">
        <a href="javascript:void(0)">
          <i class="fa fa-files-o"></i>
          <span>Recording Productivity</span>
          <span class="label label-primary pull-right">4</span>
        </a>
        <ul class="treeview-menu">
          <li><a ui-sref="app.projects"><i class="fa fa-circle-o"></i>Projects</a></li>
          <li><a ui-sref="app.tasks"><i class="fa fa-circle-o"></i>Tasks</a></li>
          <li><a ui-sref="app.hours"><i class="fa fa-circle-o"></i>Record Hours</a></li>
        </ul>
      </li>
      <li>
        <a ui-sref="app.report">
          <i class="fa fa-th"></i> <span>Reports</span>
          <small class="label pull-right bg-green">new</small>
        </a>
      </li>
     
    </ul>
  </section>
</aside>
