<section class="content">
 <div class="row" ng-show="vm.flag_tap == 0">
   <form class="form" name="recordForm" ng-submit="vm.save(recordForm.$valid)" novalidate>
     <div class="box-body">
        <div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
          <h4>{{alert.title}}</h4>
          <p>{{alert.msg}}</p>
        </div>
        <div class="form-group">
          <label class="control-label">Project</label>
          <select class="form-control" ng-model="vm.project_id" ng-options="object.id as object.name for object in vm.lsProject" ng-change="vm.retrieveTaskList()">
          </select>
        </div>
        <div class="form-group">
          <label class="control-label">Task</label>
          <select class="form-control" ng-model="vm.task_id" ng-options="object.id as object.name for object in vm.lsTask">
          </select>
        </div>
        <div class="form-group">
          <label class="control-label">Salary per hour </label>
          <input type="text" class="form-control" ng-model="vm.salary">
        </div>
      </div><!--end box-body-->
      <div class="box-footer">
        <button type="submit" class="btn btn-primary">TAP IN NOW</button>
        </div>
    </form>
</div>
<div class="row" ng-show="vm.flag_tap == 1">
  <form class="form" name="recordForm" ng-submit="vm.saveTapOut(addRecordForm.$valid)" novalidate>
    <div class="box-body">
      <div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
        <h4>{{alert.title}}</h4>
        <p>{{alert.msg}}</p>
      </div>
      <div class="form-group">
        <label class="control-label">Project</label>
        <p class="form-control-static">{{vm.project.name}}</p>
      </div>
      <div class="form-group">
        <label class="control-label">Tap In at</label>
        <p class="form-control-static">{{vm.record_tap_in}}</p>
      </div>
    </div>
    <div class="box-footer">
      <button type="submit" class="btn btn-danger">TAP OUT NOW</button>
    </div>
  </form>
</div>
 <div class="row">
      <div class="col-xs-12">
       <record-list></record-list>
      </div>
    </div>
</section>

